.wrapper {
    display: flex;
    gap: 2rem;
    margin-inline: 1rem;
    margin-block-start: 1rem;
    position: relative;

    > * {
        flex: 1;
    }
    
    button {
        width: 100%;
        background-color: black;
        color: white;
        
    }

    img {
        max-width: 100%;
        object-fit: cover;
    }

    
    p:nth-child(1) {
        position: absolute;
        top: 0;
        margin-inline-start: 0.5rem;
    }


}
