.wrapper {
    display: flex;
    flex-flow: column wrap;

    button {
        margin-block: 2rem;
    }

    .btn{
        position: relative;
        padding: 0.5rem;
        border: 1px solid black;
        background-color: black;
        color: white;
        padding-block: 0.55rem;
        font-size: 16px;
        transition: 0.2s;

        span {
            position: absolute;
            left: 0;
            margin-left: 1rem;
        }
    } 

    .btn:hover {
        background-color: white;
        color: black;
        transition: 0.2s;
    }

    .readMoreBtn {
        margin-block: 1rem;
        cursor: pointer;

        span {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
        }
    }
}