.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper[data-container] {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equally sized columns */
  gap: 10px; /* Gap between grid items */

}
